body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.msg-item {
  border: 1px black solid;
}


.d-none {
  display: none;
}

div#menu * {
  display: inline-flex;
  border-right: 1px black solid;

}

.num-of-likes{
position: relative;
left: 95%;
}

.num-of-likes::before {
  content: "👍";
  font-size: 2em;
}

#connected-clients::before {
  content: "👥";
  font-size: 2em;
}

.socket-event-client::before {
  content: "user";
}

.socket-event::before{
  margin-right: 5px;
}

.socket-event-type::before {
  content: "type";
  
}

.socket-event-payload::before {
  content: "payload";
}

.socket-event-timestamp::before {
  content: "timestamp";
}